<div class="container my-5">
    <h3 class="text-center text-primary mb-4">Registro</h3>
    <form [formGroup]="form" (ngSubmit)="register()" class="needs-validation" novalidate>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="nameForm" class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="name" [ngClass]="{
            'is-invalid': form.controls['name'].touched && form.controls['name'].hasError('required') || form.controls['name'].hasError('minlength')
          }">
          <div class="invalid-feedback" *ngIf="form.controls['name'].getError('required') && form.controls['name'].touched">
            Campo requerido.
          </div>
          <div class="invalid-feedback" *ngIf="form.controls['name'].getError('minlength') && form.controls['name'].touched">
            El nombre debe tener mínimo 3 caracteres.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lasNameForm" class="form-label">Apellido</label>
          <input type="text" class="form-control" formControlName="lastName" [ngClass]="{
            'is-invalid': form.controls['lastName'].touched && form.controls['lastName'].hasError('required')
          }">
          <div class="invalid-feedback" *ngIf="form.controls['lastName'].getError('required') && form.controls['lastName'].touched">
            Campo requerido.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          <label for="emailForm" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email" [ngClass]="{
            'is-invalid': form.controls['email'].touched && form.controls['email'].hasError('required') || form.controls['email'].hasError('email') || form.controls['email'].hasError('emailExists')
          }">
          <div class="invalid-feedback" *ngIf="form.controls['email'].getError('required') && form.controls['email'].touched">
            Campo requerido.
          </div>
          <div class="invalid-feedback" *ngIf="form.controls['email'].getError('email') && form.controls['email'].touched">
            Debe tener un formato de email válido.
          </div>
          <div class="invalid-feedback" *ngIf="form.controls['email'].getError('emailExists') && form.controls['email'].touched">
            El email ya está registrado.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{
            'is-invalid': form.controls['password'].touched && form.controls['password'].hasError('required') || form.controls['password'].hasError('mustBeEquals') || form.controls['password'].hasError('minlength')
          }">
          <div class="invalid-feedback" *ngIf="form.controls['password'].getError('required') && form.controls['password'].touched">
            Campo requerido.
          </div>
          <div class="invalid-feedback" *ngIf="form.controls['password'].getError('minlength') && form.controls['password'].touched">
            La contraseña debe tener mínimo 8 caracteres.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" [ngClass]="{
            'is-invalid': form.controls['confirmPassword'].touched && form.controls['confirmPassword'].hasError('required') || form.getError('mustBeEquals')
          }">
          <div class="invalid-feedback" *ngIf="form.controls['confirmPassword'].getError('required') && form.controls['confirmPassword'].touched">
            Campo requerido.
          </div>
          <div class="invalid-feedback" *ngIf="form.getError('mustBeEquals') && form.controls['confirmPassword'].touched">
            Las contraseñas no coinciden.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="phoneNumber" class="form-label">Número de teléfono</label>
          <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" [ngClass]="{
            'is-invalid': form.controls['phoneNumber'].touched && form.controls['phoneNumber'].hasError('required') || form.controls['phoneNumber'].hasError('pattern')
          }">
          <div class="invalid-feedback" *ngIf="form.controls['phoneNumber'].getError('required') && form.controls['phoneNumber'].touched">
            Campo requerido.
          </div>
          <div class="invalid-feedback" *ngIf="form.controls['phoneNumber'].getError('pattern') && form.controls['phoneNumber'].touched">
            El número puede tener máximo 10 dígitos.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="address" class="form-label">Dirección</label>
          <input type="text" class="form-control" formControlName="address" [ngClass]="{
            'is-invalid': form.controls['address'].touched && form.controls['address'].hasError('required')
          }">
          <div class="invalid-feedback" *ngIf="form.controls['address'].getError('required') && form.controls['address'].touched">
            Campo requerido.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          <label for="dni" class="form-label">DNI</label>
          <input type="text" class="form-control" formControlName="dni" [ngClass]="{
            'is-invalid': form.controls['dni'].touched && form.controls['dni'].hasError('required') || form.controls['dni'].hasError('pattern')
          }">
          <div class="invalid-feedback" *ngIf="form.controls['dni'].getError('required') && form.controls['dni'].touched">
            Campo requerido.
          </div>
          <div class="invalid-feedback" *ngIf="form.controls['dni'].getError('pattern') && form.controls['dni'].touched">
            Formato inválido.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-end mb-3">
          <button type="button" class="btn btn-secondary me-3" (click)="cancelar()" style="background-color: #ff4d4d; border-color: #ff4d4d;">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid" style="background-color: #3c3636; border-color: #3c3636;">Guardar</button>
        </div>
      </div>
    </form>
  </div>