app-product-carousel {
  margin: 25px;
}

img[alt="BANNER"] {
  width: 100%;
  max-height: 390px;
  object-fit: cover;
  margin-bottom: 10px;
  animation: aparecer both;
  animation-timeline: view();
  animation-range: cover 5% cover 95%;
}
@media (max-width: 650px) {
  img[alt="BANNER"] {
    animation: none !important;
    opacity: 1 !important;
    width: 100%;
    max-height: 390px;
    margin-bottom: 10px;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
