<header class="header">
    <div class="header-container">
      <div class="logo-container">
        <img src="/resources/icons/header/PixelFactory-Logo.png" alt="Logo" class="logo">
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Buscar productos..." class="search-input">
      </div>
      <div class="user-cart-container"> 
        <!--Aca hay que agregar los routerLink del login y del carrito, 
        tambien agregar la funcionalidad de cambio de icono segun el login-->
            <img src="resources/icons/header/login.svg" alt="Login" class="login-icon"> 
            <img src="resources/icons/header/cart.svg" alt="Carrito" class="cart-icon">
      </div>
    </div>
</header>
  
