body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.header {
    background-color: #3c3636;
    padding: 0 20px;
    color: #ff4d4d;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    min-height: 120px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}

.logo-container {
    flex: 0 0 auto;
}

.logo {
    height: 60%;
    max-height: 80px;
    width: auto;
}
.logo:hover{
    cursor: pointer;
}

.search-bar {
    flex: 1 1 auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.user-cart-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-icon {
    cursor: pointer;
    width: 30px;
    height: auto;
    margin-left: 20px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #3c3636;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px 0;
    width: 150px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #ff4d4d;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

.menu-item:hover {
    background-color: #2d2929;
}

.menu-icon-option {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.login-icon, .cart-icon {
    width: auto;
    height: 60%;
    max-height: 80px;
    margin-left: 20px;
    cursor: pointer;
}

.add-icon {
    width: 30px;
    height: auto;
    margin-left: 10px;
    cursor:pointer;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }
    .search-bar {
        width: 90%;
    }
    .user-cart-container img {
        width: 25px;
    }
}
