<mat-card class="profile-card">
  <div class="profile-header">
    <img
      *ngIf="clerkUser?.imageUrl; else defaultAvatar"
      [src]="clerkUser?.imageUrl"
      class="profile-avatar"
      alt="avatar"
    />
    <ng-template #defaultAvatar>
      <mat-icon class="profile-avatar" style="font-size: 90px"
        >account_circle</mat-icon
      >
    </ng-template>
    <div class="profile-info">
      <h3 class="profile-name">
        {{ form.get("name")?.value || "Nombre" }}
        {{ form.get("last_name")?.value || "" }}
      </h3>
      <div class="profile-email">
        {{ clerkUser?.primaryEmailAddress.emailAddress || "Email no disponible" }}
      </div>
    </div>
  </div>

  <form [formGroup]="form" class="profile-form">
    <div class="profile-fields">
      <mat-form-field appearance="outline" class="profile-field">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" [readonly]="!isEditing" />
        <mat-error *ngIf="form.controls['name'].hasError('required')"
          >Campo requerido</mat-error
        >
        <mat-error *ngIf="form.controls['name'].hasError('minlength')"
          >Mínimo 3 caracteres</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="profile-field">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="last_name" [readonly]="!isEditing" />
        <mat-error *ngIf="form.controls['last_name'].hasError('required')"
          >Campo requerido</mat-error
        >
      </mat-form-field>
    </div>

    <div class="profile-fields">
      <mat-form-field appearance="outline" class="profile-field">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="dni" [readonly]="!isEditing" />
        <mat-error *ngIf="form.controls['dni'].hasError('required')"
          >Campo requerido</mat-error
        >
        <mat-error *ngIf="form.controls['dni'].hasError('pattern')"
          >DNI inválido</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="profile-field">
        <mat-label>Teléfono</mat-label>
        <input
          matInput
          formControlName="phone_number"
          [readonly]="!isEditing"
        />
        <mat-error *ngIf="form.controls['phone_number'].hasError('required')"
          >Campo requerido</mat-error
        >
        <mat-error *ngIf="form.controls['phone_number'].hasError('pattern')"
          >Deben ser 10 dígitos</mat-error
        >
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="profile-field full-width">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address" [readonly]="!isEditing" />
      <mat-error *ngIf="form.controls['address'].hasError('required')"
        >Campo requerido</mat-error
      >
    </mat-form-field>

    <div class="profile-actions">
      <button
        mat-raised-button
        color="warn"
        *ngIf="!isEditing"
        (click)="toggleEdit()"
      >
        Modificar
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="isEditing"
        (click)="update()"
        [disabled]="loading"
      >
        Guardar Cambios
        <mat-icon *ngIf="loading" class="loading-icon" style="margin-left: 8px"
          >autorenew</mat-icon
        >
      </button>
    </div>
  </form>
</mat-card>
