<div *ngFor="let sale of listSales" class="venta-item">
  <!-- Contenedor del bloque de venta -->
  <div class="venta-header">
    <!-- Precio y fecha de la venta -->
    <span class="venta-precio">Precio: {{ sale.total_amount | currency }}</span>
    <span class="venta-fecha"
      >Fecha: {{ sale.created_at | date : "short" }}</span
    >
    <ng-container *ngIf="isAdmin">
      <span class="venta-usuario">User ID: {{ sale.clerk_user_id }}</span>
    </ng-container>
  </div>

  <!-- Listado de productos -->
  <div class="venta-productos">
    <h4>Productos:</h4>
    <ul>
      <li *ngFor="let producto of sale.products">
        Producto: {{ getProductName(producto.product_id) }} - Cantidad:
        {{ producto.quantity }}
      </li>
    </ul>
  </div>

  <!-- Íconos para acciones (eliminar y descargar comprobante) -->

  <div class="venta-acciones">
    <button class="icon-btn" (click)="eliminarVenta(sale.id)">
      <img src="/resources/icons/cart/trash-red.svg" class="button-img" />
    </button>
  </div>
</div>
