<h3 class="text-cemter">Inicio de sesión</h3>
<div class="contariner">
    <form [formGroup]="form" (ngSubmit)="iniciarSession()">
        <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <label for="email" class="form-label">Email </label>
                <input type="text" class="form-control"
                id="email"
                formControlName="email"
                [ngClass]="{
                    'is-invalid':  form.controls['email'].touched  && form.controls['email'].hasError('required') }"  >
                @if (form.controls['email'].getError('required') && form.controls['email'].touched) {
                    <div class="text-danger">
                      Campo requerido.  
                    </div>   
                }
                @if (form.controls['email'].getError('email') && form.controls['email'].touched) {
                    <div class="text-danger">
                      Tiene que tener un formato email.  
                    </div>   
                }
              <!--    @if(!form.controls['email'].hasError('emailExists')&& form.controls['email'].touched){
                    <div class="text-danger">
                        El email ingresado es incorrecto o no existe.
                    </div>      
                }-->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="password" class="form-label"> Contraseña </label>
                <input type="password" class="form-control"
                id="password"
                formControlName="password"
                [ngClass]="{'is-invalid':  form.controls['password'].touched  && form.controls['password'].hasError('required') }">
                @if(form.controls['password'].getError('required') && form.controls['password'].touched){
                    <div class="text-danger">
                        Campo requerido.  
                    </div>      
                }
            </div>
        </div>
    </div>
    </form>
    
   

</div>


 <mat-dialog-actions>
  <button mat-raised-button  (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color ="primary" (click)="iniciarSession()" [disabled]="form.invalid">Guardar </button>
  <button mat-raised-button color="accent" (click)="openRegisterDialog()" (click)="cancelar()">¿No tienes cuenta? Regístrate</button>
</mat-dialog-actions>