<h3 class="form-title">Actualizar Producto</h3>
<div class="custom-form-container">
  <form [formGroup]="form">
    <!-- Nombre -->
    <div class="form-group">
      <label for="nameForm">Nombre</label>
      <input type="text" id="nameForm" formControlName="name" />
      <div
        class="error-msg"
        *ngIf="
          form.controls['name'].touched &&
          form.controls['name'].hasError('required')
        "
      >
        Campo requerido.
      </div>
      <div
        class="error-msg"
        *ngIf="
          form.controls['name'].touched &&
          form.controls['name'].hasError('minlength')
        "
      >
        El nombre debe tener mínimo 3 caracteres.
      </div>
    </div>

    <!-- Precio -->
    <div class="form-group">
      <label for="priceForm">Precio</label>
      <input type="number" id="priceForm" formControlName="price" />
      <div
        class="error-msg"
        *ngIf="
          form.controls['price'].touched &&
          form.controls['price'].hasError('required')
        "
      >
        Campo requerido.
      </div>
      <div
        class="error-msg"
        *ngIf="
          form.controls['price'].touched &&
          form.controls['price'].hasError('min')
        "
      >
        El precio debe ser mayor a 0.
      </div>
    </div>
    <!-- Stock -->
    <div class="form-group">
      <label for="stock">Stock</label>
      <input type="number" id="stock" formControlName="stock" />
      <div
        class="error-msg"
        *ngIf="
          form.controls['stock'].touched &&
          form.controls['stock'].hasError('required')
        "
      >
        Campo requerido.
      </div>
      <div
        class="error-msg"
        *ngIf="
          form.controls['stock'].touched &&
          form.controls['stock'].hasError('min')
        "
      >
        El Stock debe ser mayor a 0.
      </div>
    </div>
    <!-- Marca -->
    <div class="form-group">
      <label for="brandForm">Marca</label>
      <input type="text" id="brandForm" formControlName="brand" />
      <div
        class="error-msg"
        *ngIf="
          form.controls['brand'].touched &&
          form.controls['brand'].hasError('required')
        "
      >
        Campo requerido.
      </div>
    </div>
    <!-- Categoría -->
    <div class="form-group">
      <label for="categoryForm">Categoría</label>
      <input type="text" id="categoryForm" formControlName="category" />
      <div
        class="error-msg"
        *ngIf="
          form.controls['category'].touched &&
          form.controls['category'].hasError('required')
        "
      >
        Campo requerido.
      </div>
    </div>
    <!-- Imagen -->
    <div class="form-group">
      <label for="imgForm">Imagen URL</label>
      <input type="text" id="imgForm" formControlName="img" />
      <div
        class="error-msg"
        *ngIf="
          form.controls['img'].touched &&
          form.controls['img'].hasError('required')
        "
      >
        Campo requerido.
      </div>
    </div>
    <div class="form-group">
      <!-- Descripción -->
      <label for="descriptionForm">Descripción</label>
      <textarea id="descriptionForm" formControlName="description"></textarea>
      <div
        class="error-msg"
        *ngIf="
          form.controls['description'].touched &&
          form.controls['description'].hasError('required')
        "
      >
        Campo requerido.
      </div>
    </div>

    <div class="form-buttons">
      <button
        type="button"
        (click)="toggleEdit()"
        class="btn-secondary"
        *ngIf="!isEditing"
      >
        Modificar
      </button>
      <button
        type="button"
        (click)="update()"
        class="btn-primary"
        *ngIf="isEditing"
      >
        Guardar Cambios
      </button>
    </div>
  </form>
</div>
