<footer class="footer">
  <div class="footer-container">
    <div class="footer-copy">
      <span>©{{ year }} PixelFactory</span> Todos los derechos reservados.
    </div>
    <div class="footer-github">
      <a href="https://github.com/LeoBasan" target="_blank">Leopoldo Basanta</a>
      <a href="https://github.com/LuchoDominella" target="_blank"
        >Luciano Dominella</a
      >
      <a href="https://github.com/BarrientosAlex" target="_blank"
        >Alex Barrientos</a
      >
      <a href="https://github.com/GianVietta" target="_blank">Gian Vietta</a>
    </div>
  </div>
</footer>
