<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <p>
                <span>©{{year}} PixelFactory</span> Todos los derechos reservados.
            </p>
        </div>
        <div class="footer-section">
        <h4>Contacto</h4>
        <p>Teléfono: +123 456 789</p>
        <p>Email: contactotu-ecommerce.com</p>
      </div>
      <div class="footer-section">
        <h4>Redes Sociales</h4>
        <div class="social-icons">
          <a href="https://www.facebook.com/" aria-label="Facebook">
            <img src="resources/icons/footer/facebook-f-brands-solid.svg" alt="Facebook" class="icon">
          </a>
          <a href="https://www.instagram.com/" aria-label="Instagram" >
            <img src="resources/icons/footer/instagram-brands-solid.svg" alt="Instagram" class="icon">
          </a>
          <a href="https://x.com/" aria-label="X">
            <img src="resources/icons/footer/x-twitter-brands-solid.svg" alt="X" class="icon">
          </a>
          <!-- Agrega más enlaces si es necesario -->
        </div>
      </div>
      <div class="footer-section">
        <h4>Políticas</h4>
        <a href="#">Política de Privacidad</a>
        <a href="#">Términos y Condiciones</a>
        <a href="#">Política de Devoluciones</a>
      </div>
    </div>
</footer>
  
