.category {
    background-color: #3c3636;
    border-radius: 50px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    margin: 7px;
    font-size: 16px; 
    font-weight: bold;
    color: #ff4d4d;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
}
.category:hover {
    background-color: darkgray;
}