<div>
    <form [formGroup]="form" (ngSubmit)="addProduct()">
        <div class="name-field">  
            <label for="name">Nombre del producto:</label>
            <input type="text" formControlName="name" id="name">
            <div class="name-field-errors">
                @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
                    <div>
                        El nombre del producto es obligatorio.
                    </div>
                }
                @if (form.get('name')?.hasError('minLength') && form.get('name')?.touched) {
                    <div>
                        El nombre debe tener un minimo de 3 caracteres.
                    </div>
                }
            </div>
        </div>
        <div class="price-field">
            <label for="price">Precio del producto</label>
            <input type="text" id="price" formControlName="price">
            <div class="price-field-errors">
                @if (form.get('price')?.hasError('required') && form.get('price')?.touched) {
                    <div>
                    El precio es obligatorio.
                    </div>
                }
                @if (form.get('price')?.hasError('pattern') && form.get('price')?.touched) {

                    <div>
                        El precio debe contener solo numeros.
                    </div>
                }
            </div>
        </div>
        <div class="brand-field">
            <label for="brand">Marca del Producto</label>
            <input type="text" id="brand" formControlName="brand">
            <div class="brand-field-errors">
                @if (form.get('brand')?.hasError('required') && form.get('brand')?.touched) 
                {
                    <div>
                        La marca del producto es obligatoria.
                    </div>
                }
                    
                @if (form.get('brand')?.hasError('minLength') && form.get('brand')?.touched) {
                    
                    <div>
                        La marca debe tener un minimo de 3 caracteres.
                    </div>
                }
            </div>
        </div>
        <div class="description-field">
            <label for="description">Descripcion del Producto</label>
            <input type="text" id="description" formControlName="description">
            <div class="description-field-errors">
                @if (form.get('description')?.hasError('required') && form.get('description')?.touched) {

                    <div>
                        La descripcion del producto es obligatoria.
                    </div>
                }
                @if (form.get('description')?.hasError('minLength') && form.get('description')?.touched) {

                    <div>
                        La descripcion debe tener un minimo de 30 caracteres.
                    </div>
                }
            </div>
        </div>
        <div class="category-field">
            <label for="category">Categoria del producto</label>
            <select name="category" id="category" formControlName="category">
                <option value="" disabled selected>Seleccione una categoria</option>
                <option *ngFor="let category of categorias" value="`{{category}}`">{{category}}</option>
            </select>
            <div class="category-field-errors">  
                @if (form.get('category')?.hasError('required') && form.get('category')?.touched) {

                    <div>
                        Debes elegir una categoria
                    </div>
                }
            </div>  
        </div>
        <div class="img-field">
            <label for="img">URL de Imagen:</label>
            <input id="img" formControlName="img" type="text" placeholder="Ingrese la URL de la imagen" />
            <div class="img-field-errors">
                @if (form.get('img')?.hasError('required') && form.get('img')?.touched) {

                    <div>
                        La imagen es obligatoria
                    </div>
                }
                @if (form.get('img')?.hasError('pattern') && form.get('img')?.touched) {
                    <div>
                        Por favor, ingrese una URL válida.
                    </div>
                }
            </div>
        </div>
        <button type="submit" >Guardar Producto</button>
    </form>
</div>