<h3 class="form-title">Agregar Producto</h3>
<div class="custom-form-container">
  <form [formGroup]="form" (ngSubmit)="addProduct()">
    <div class="form-group">
      <label for="name">Nombre del producto:</label>
      <input type="text" id="name" formControlName="name" />
      <div
        class="error-msg"
        *ngIf="
          form.controls['name'].touched &&
          form.controls['name'].hasError('required')
        "
      >
        Campo requerido.
      </div>
      <div
        class="error-msg"
        *ngIf="
          form.controls['name'].touched &&
          form.controls['name'].hasError('minLength')
        "
      >
        Mínimo 3 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="price">Precio del producto:</label>
      <input type="number" id="price" formControlName="price" />
      <div
        class="error-msg"
        *ngIf="
          form.controls['price'].touched &&
          form.controls['price'].hasError('required')
        "
      >
        Campo requerido.
      </div>
      <div
        class="error-msg"
        *ngIf="
          form.controls['price'].touched &&
          form.controls['price'].hasError('pattern')
        "
      >
        Solo números.
      </div>
      <div
        class="error-msg"
        *ngIf="
          form.controls['price'].touched &&
          form.controls['price'].hasError('min')
        "
      >
        No puede ser negativo.
      </div>
    </div>

    <div class="form-group">
      <label for="brand">Marca del producto:</label>
      <input type="text" id="brand" formControlName="brand" />
      <div
        class="error-msg"
        *ngIf="
          form.controls['brand'].touched &&
          form.controls['brand'].hasError('required')
        "
      >
        Campo requerido.
      </div>
      <div
        class="error-msg"
        *ngIf="
          form.controls['brand'].touched &&
          form.controls['brand'].hasError('minLength')
        "
      >
        Mínimo 3 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="description">Descripción del producto:</label>
      <input type="text" id="description" formControlName="description" />
      <div
        class="error-msg"
        *ngIf="
          form.controls['description'].touched &&
          form.controls['description'].hasError('required')
        "
      >
        Campo requerido.
      </div>
      <div
        class="error-msg"
        *ngIf="
          form.controls['description'].touched &&
          form.controls['description'].hasError('minLength')
        "
      >
        Mínimo 30 caracteres.
      </div>
    </div>

    <div class="form-group">
      <label for="category">Categoría del producto:</label>
      <select id="category" formControlName="category">
        <option value="" disabled selected>Seleccione una categoría</option>
        <option *ngFor="let category of categorias" [value]="category">
          {{ category }}
        </option>
      </select>
      <div
        class="error-msg"
        *ngIf="
          form.controls['category'].touched &&
          form.controls['category'].hasError('required')
        "
      >
        Debes elegir una categoría.
      </div>
    </div>

    <div class="form-group">
      <label for="img">URL de Imagen:</label>
      <input
        type="text"
        id="img"
        formControlName="img"
        placeholder="Ingrese la URL de la imagen"
      />
      <div
        class="error-msg"
        *ngIf="
          form.controls['img'].touched &&
          form.controls['img'].hasError('required')
        "
      >
        Campo requerido.
      </div>
      <div
        class="error-msg"
        *ngIf="
          form.controls['img'].touched &&
          form.controls['img'].hasError('pattern')
        "
      >
        Ingrese una URL válida.
      </div>
    </div>

    <div class="form-group">
      <label for="stock">Stock:</label>
      <input type="number" id="stock" formControlName="stock" />
      <div
        class="error-msg"
        *ngIf="
          form.controls['stock'].touched &&
          form.controls['stock'].hasError('required')
        "
      >
        Campo requerido.
      </div>
      <div
        class="error-msg"
        *ngIf="
          form.controls['stock'].touched &&
          form.controls['stock'].hasError('pattern')
        "
      >
        Solo números.
      </div>
      <div
        class="error-msg"
        *ngIf="
          form.controls['stock'].touched &&
          form.controls['stock'].hasError('min')
        "
      >
        No puede ser negativo.
      </div>
    </div>

    <div class="form-buttons">
      <button type="button" class="btn-secondary" (click)="cancelar()">
        Cancelar
      </button>
      <button type="submit" class="btn-primary" [disabled]="form.invalid">
        Guardar Producto
      </button>
    </div>
  </form>
</div>
